*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em 4em;
  align-items: center;
  justify-content: center;
  background: rgb(245, 245, 245);
  color: rgb(4, 13, 17);
  font-family: Menlo, monospace;
  font-size: 16px;
  max-width: 60em;
  width: 100vw;
  height: 100vh;
}

a {
  color: #ff476e;
}

body * + * {
  margin-bottom: 0.5em;
}

pre {
  text-align: left;
  line-height: 1.1;
}

ol {
  padding: 0;
  margin: 0;
}

ol li + li {
  margin-bottom: 1em;
}

code {
  margin: 0.5em 0;
  padding: 10px 5px;
  background: #f5c3d4;
  display: block;
  border-bottom: 1px solid rgb(255, 70, 126);;
  text-align: left;
  border-radius: 2px;
}

code:before {
  content: "$ ";
  color: #ff476e;
}

code.gpg:before {
  content: "> ";
}
